[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pytest = "*"
pytest-rerunfailures = "*"
pytest-timeout = "*"
grpcio = "*"
google-cloud-pubsub = "*"
jwcrypto = "*"
rsa = "*"
pycryptodome = "*"
black = "==20.8b1"
isort = "*"
pymysql = "*"

[requires]
python_version = "3.7"
